*{
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: rgb(241, 241, 241);
margin: 0;
}
.Influencer{
    display: flex;
     justify-content: space-between; 
    margin: 100px 150px;
    flex-wrap: wrap;
    
}
.Influencer p{
    font-size: 35px;
    font-weight: 800;
    flex-wrap: wrap;
}
.Influencer div{
    display: flex;
    flex-wrap: wrap;
    
}
.Influencer div li{
    list-style: none;
    margin: 25px 20px;
    font-weight: 700;
    font-size: 15px;
}
.first-container{
    display: flex;
    justify-content: space-between; 
    margin: 100px 150px;
     flex-wrap: wrap;
    
}
.heading-1{
    width: 45%;

   
   
}
.first-container:hover{
    background-image: url(images/css-animation.gif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.h1{
    font-size: 65px;
    font-weight: 900;
}
.heading-1 p{
    font-size: 25px;
    background-clip: text;
  
   
}
.btn-1{
    width: 190px;
    height: 45px;
    border-radius: 27px;
    border: 1px;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 20px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.logos{
   
    border-top: 1px solid rgb(206, 197, 197);
    border-bottom: 1px solid rgb(206, 197, 197);
    text-align: center;
    
}
.logos img{
    margin: 25px 50px;
}
.ratings{
    color: rgb(177, 177, 39);
}
.products-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.box{
    width: 350px;
    height: 550px;
    border: 1px;
    border-radius:15px ;
    padding: 10px;
   background-color: white;
   margin: 10px 40px;
   box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
}
.box img{
 padding-left: 15px;
}

.idea{
    display: flex;
    margin: 100px 90px;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 50px;
   
}


.last-box{
    width: 10px;
    height: 280px;
    box-shadow: 10px 40px 40px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: aliceblue;
    background-color: rgb(53, 50, 50);
    text-align: center;
    margin-bottom: 100px;
    padding-right: 60px;
    flex-wrap: wrap;
    
  
}
.half-width{
    width: 50%;
    padding-left: 5%;
    flex-wrap: wrap;
}
.btn-3{
    width: 160px;
    height: 25px;
    border-radius: 10px;
    border: 1px;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 20px; 
    
}


.link{
    text-decoration: none;
    color: blueviolet;
    display: block;
    text-align: right;
    margin-right: 300px;
    font-size: 20px;
} 
footer{
    background-color: rgb(43, 3, 80);
    color: white;
    text-align: center;
}
footer a{
    width: 35px;
    height: 35px;
    margin: 10px 20px;
    color: white;
}


/* Small devices   */
@media only screen and (max-width: 580px) {
 .first-container{
    flex-direction: column-reverse;   
 }
 
.idea{
    
   flex-wrap: wrap;
   flex-direction: column-reverse; 
   margin-bottom: 50px;  
}

.camera{
    height: 200px;
    width: 300px;
    margin-right: 50px;

}
.box{
    margin-bottom: 50px;
} 

}



 /* Medium devices  */
@media only screen and (max-width: 768px) {
    
}

/* Big devices */
@media only screen and (min-width: 1200px) {

}